@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.logo {
    background: url("../images/20220907_181647250_iOS.jpg");
    background-position: center 18%;
    background-repeat: no-repeat;
    background-size: 115%;
    min-height: 360px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}